{% load static %}

<header class="header">
  <div class="container container--narrow">
    <a href="{% url 'gallery' %}" class="header__logo">
      <img
        class="image-logo"
        src="{% static 'images/Logo4.png' %} "
        alt="Return to Gallery"
        style="height: 110px; object-fit: cover"
      />
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem"><a href="">Photographers</a></li>
        <li class="header__menuItem"><a href="">Inbox</a></li>
        <li class="header__menuItem">
          <a href="{% url 'add_photo' %}">Add Photo</a>
        </li>
        <li class="header__menuItem">
          <a href="" class="btn btn--sub">Login/Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
